D1>[ZH][ZH]
D2>[JA][JA]
D3>[KO][KO]
D4>[SA][SA]
D5>[EN][EN]
D6>[SH][SH]
D7>[GD][GD]
D8>[WZ][WZ]
D9>[SZ][SZ]
D0>[TH][TH]
EXEPATHS>E:\vits\MoeGoe\MoeGoe.exe
MODELPATHS>E:\vits\full\vits-uma-genshin-honkai\model\G_0.pth|E:\vits\full\vits-uma-genshin-honkai\model\G_0-p.pth|E:\vits\full\vits-uma-genshin-honkai\model\G_953000.pth
CONFIGPATHS>E:\vits\full\vits-uma-genshin-honkai\model\config.json
SAVEPATHS>E:\vits\full\vits-uma-genshin-honkai\model\demo.wav
